.DS_Store
kaggle.json
/Courses
1. Autogluon Project - Bike Sharing Demand/Submission
1. Autogluon Project - Bike Sharing Demand/project-notebook.html
2. Image Classification Project - Scones Unlimited/Submission1.zip
2. Image Classification Project - Scones Unlimited/Submission2.zip
3. Image Classification using AWS SageMaker - Dog Breed/Archive
3. Image Classification using AWS SageMaker - Dog Breed/3. DogBreed_Incomplete
3. Image Classification using AWS SageMaker - Dog Breed/Submission.zip
4. Operationalizing ML on SageMaker/Submission.zip
4. Operationalizing ML on SageMaker/project report.pages
5. Capstone - Inventory Monitoring at Distribution Centers/Submission.zip
5. Capstone - Inventory Monitoring at Distribution Centers/Proposal/Capstone Proposal.pages
5. Capstone - Inventory Monitoring at Distribution Centers/Project Report.pages
